<%# persisted line to only show saved comments %>
<% unless comment.parent_id || !comment.persisted? %>
  <div class="section">
    <%= comment.body %>
    <br>
    <%= link_to 'reply', new_article_comment_path(@article, parent_id: comment.id) %>
  </div>
  <% if comment.replies.any? %>
    <% comment.replies.each do |reply| %>
    <div class="section" id="reply">
      <%= render partial: 'comments/reply', locals: { reply: reply } %>
    </div>
    <% end %>
    <div id="reply-form-<%= comment.id %>"></div>
  <% end %>
<% end %>