<!-- article contents view -->

<!-- no me acuerdo de para que era este id oops... -->
<div id="<%= dom_id article %>" class="article">
  <div>
    <p class="title">
      <a href=<%= article.url %>><%= article.title %></a>
    </p>
    <br>
    <!-- copiar el formato de index.html.erb cuando este listo (flexbox) -->
    <span><strong>author</strong>, time ago to <strong>topic</strong></span>
    <br>
    <span>img, comments, boost, more</span>
  </div>
  <div>
    <p>
      <%= article.body %>
    </p>
  </div>
</div>
