<link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>

<header class="header">
  <div class="kbin-container">
    <div class="left-nav">
      <div class="sr-nav">
        <img id="hiddenMenu" src="https://i.pinimg.com/originals/26/9d/d1/269dd16fa1f5ff51accd09e7e1602267.png">
        <img src="https://kbin.social/kbin_logo.svg" alt="kbin logo">
      </div>
      <div class="head-nav">
        <span>Threads</span>
        <span>Microblog</span>
        <span>All content</span>
        </ul>
      </div>
    </div>
    <div class="menu">
      <span class="icon"><img src="https://img.icons8.com/ios/50/FFFFFF/search--v1.png"></span>
      <span class="icon"><img src="https://img.icons8.com/ios/50/FFFFFF/add--v1.png"></span>
      <span class="icon"><img src="https://img.icons8.com/ios-filled/50/FFFFFF/menu-2.png"></span>
      <span><span>username</span></span>
    </div>
  </div>
</header>

<div class="secHeader">
  <div class="filter">
    <div>
      Add new
      <span id="activeFilter">link</span>
      <span>thread</span>
      <span>photo</span>
      <span>post</span>
      <span>magazine</span>
    </div>
  </div>
</div>

<div class="body">
  <div class="articles">
    <span id="form"><%= render "form", article: @article, show_url_field: true %></span>
  </div>
  <div>
      <%= link_to "Back to articles", articles_path %>
    </div>
</div>