/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
    --main-bg-color: #212121;
    --sections-color: #2c2d2d;
    --main-header-color: #3e3e3e;
    --main-text-color: #cacece;
    --light-text-color: #fbfbfa;
}

* {
    color:var(--main-text-color);
    font-size: 12px;
    font-family: 'Varela Round';
}

body {
    margin: 0px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

/* Header flex container */

.header {
    text-align: center;
    background: var(--main-header-color);
    font-size: 30px;
    margin: 0px;
    display: block;
    justify-content: right;
}

.kbin-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 40px;
    max-width: 1000px;
    margin: auto;
}

/* logo navigation */
.left-nav {
    display: flex;
    align-items: center;
}

.logo-nav {
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-nav > * {
    vertical-align: middle;
}

.logo-nav > a > img {
    height: 1.5rem;
    margin-left: 10px;
}

#hiddenMenu {
    display: none;
}

/* middle navigation (types) */

.head-nav {
    flex-basis: 250px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

/* change based on window size */
@media (max-width:800px) {
    .head-nav  {
        display: none;
        /* outline: solid yellow; */
    }

    #hiddenMenu {
        display: inline;
        width: 15px;
    }
}

.head-nav > a {
    flex: auto;
    padding: 8px;
    text-decoration: none;
    color: var(--light-text-color);
}

.head-nav > a:hover, .menu > a:hover {
    border-bottom: var(--light-text-color) solid;
    color: var(--main-text-color);
}

/* right side user menu */

.menu {
    width: 250px;
    flex-basis: 250px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.menu > a {
    flex: auto;
    padding: 8px;
    text-decoration: none;
    color: var(--light-text-color);
}

.menu > a > i, .logo-nav > i {
    color: var(--light-text-color)
}


/* threads filter */

.secHeader {
    max-width: 1000px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    height: 30px;
    margin-bottom: 10px;
}

.webBody {
    background-color: var(--sections-color);
    display: flex;
    width: 100%;
    outline: var(--main-header-color) solid 1px;
    vertical-align: middle;
    justify-content: space-around;
}

.webBody > * {
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
}

#filter {
    justify-content: space-between;
}

#filter > nav > a, .filterIcons > a {
    padding: 10px;
    text-decoration: none;
}

#filter > nav > a:hover, .filterIcons > a:hover {
    color: var(--light-text-color);
    border-bottom: var(--light-text-color) solid;
}

#activeFilter {
    color: var(--light-text-color);
    border-bottom: var(--light-text-color) solid;
}

/* body */

.bodyContainer {
    max-width: 1000px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    margin-bottom: 10px;
}

/* individual articles */
.webBody > article {
    background-color: #2f2f2f;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
    justify-content: left;
    width: 100%;
}

input {
    width: 100%;
}

/* Middle body section style */
.section {
    background-color: #2f2f2f;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
}

.bodyContainer > div {
    width: 100%;
}

#reply {
    margin-left: 20px;
}

.section > a:link {
    color: white;
}

/* thread likes count */
.likes {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100px;
    /* outline: pink solid; */
}

.likes > span {
    background-color: #212121;
    color: #b0b4b4;
    margin-bottom: 20px;
}

/* thread image */
.webBody > article > img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    flex-shrink: 0;
    color: white;
}

/* Thread content */
.articlePreview {
    display: flex;
    flex-direction: column;
    color: #c9cccc;
}

.articlePreview > div > a, .title {
    font-weight: bold;
    text-decoration: none;
    color: #8d9097;
    display: inline-block;
}

#link {
    font-size: 10px;
    color: gray;
    font-weight: lighter;
}

.articlePreview > div > a:hover, .articlePreview > div > a:active {
    color: var(--light-text-color);
}

/* article body */
.articlePreview > span {
    font-size: 10px;
}

#form {
    margin: auto;
}

.commentForm {
    width: 100%;
}

input {
    font-weight: bold;
    background-color: var(--main-bg-color);
}