/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 body {
    margin: 0px;
    background-color: #212121;
    font-family: 'Varela Round';
    font-size: 12px;
    color: white;
}

.header {
    text-align: center;
    background: #3e3e3e;
    color: white;
    font-size: 30px;
    margin: 0px;
    display: block;
    justify-content: right;
}

/* Header flex container */
.kbin-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 40px;
    max-width: 1000px;
    margin: auto;
}

.left-nav {
    display: flex;
}

/* left side navigation */
.sr-nav {
    /* outline: solid red; */
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.sr-nav > img {
    /* outline: solid pink; */
    width: 70px;
    vertical-align: middle;
}

/* middle navigation */
.head-nav {
    /* outline: solid orange; */
    flex-basis: 250px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    align-items: center;
}

#hiddenMenu {
    display: none;
}

/* change based on window size */
@media (max-width:900px) {
    .head-nav  {
        display: none;
        /* outline: solid yellow; */
    }

    #hiddenMenu {
        display: inline;
        width: 15px;
        color: white;
    }
}

.head-nav > span {
    flex: auto;
    padding: 8px;
}

.head-nav > span:hover, .menu > span:hover {
    border-bottom: white solid;
}

/* right side user menu */

.menu {
    /* border: solid yellow;
    width: 250px;*/
    font-size: 12px;
    align-items: center;
    display: flex;
}

.menu > span {
    /* border: solid red; */
    width: 100px;
    height: 100%;
    position: relative;
}

.menu > .icon {
    width: 50px;
}

.menu > span > img, .menu > span > span, .menu>span> button>img, .filterIcons>span>button>img{
    height: 15px;
    /* border: solid blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Dropdown Button */
.dropbtn {
  background-color:#3e3e3e;
  color: white;
  padding: 0px;
  font-size: 30px;
  border: none;
   width: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2c2c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #cacece;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black; color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


.body {
    margin: 20px;
    max-width: 1000px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* individual articles */
.articles {
    background-color: #2f2f2f;
    /*border-color: #393939;
    border-width: 3px;*/
    display: flex;
    /* outline: green solid; */
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
    justify-content: left;
}

/* Middle body section style */
.section {
    background-color: #2f2f2f;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
}

#comments {
    margin: 0;
}

.previewComments {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#reply {
    margin-left: 20px;
}

.section > a:link {
    color: white;
}

/* thread likes count */
.likes {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100px;
    /* outline: pink solid; */
}

.likes > span {
    background-color: #212121;
    color: #b0b4b4;
    margin-bottom: 20px;
}

.voteButton {
    background-color: black;
    border: 0;
    color:white;
    cursor: pointer;
    font-weight: 700;
    height: 1.9rem;
    margin: 0;
    padding: 0;
    width: 4rem;
}
/* thread image */
.articles > img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    flex-shrink: 0;
    color: white;
}

/* Thread content */
.articlePreview {
    /* border: solid seagreen; */
    display: flex;
    flex-direction: column;
    color: #c9cccc;
}

.articlePreview > div > a {
    font-weight: bold;
    text-decoration: none;
    color: #8d9097;
    display: inline-block;
}

#link {
    font-size: 10px;
    color: gray;
    font-weight: lighter;
}

.articlePreview > div > a:hover {
    color: white;
}

.articlePreview > div > a:active {
    color: red;
}

/* article body */
.articlePreview > span {
    font-size: 10px;
}

.secHeader {
    max-width: 1000px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
}

.filter {
    background-color: #2f2f2f;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 27px;
    padding-top: 14px;
    /*border-color: #393939;
    border-width: 1px;*/
}
.filter > div > span {
    padding: 10px;
    color: #c1cfdc;
}


.filter-link {
    padding: 10px;
    color: #c1cfdc;
    text-decoration: none;
}

.filter-link:hover {
    color: #e0e4ea;
    border-bottom: #e0e4ea solid;
}

.box {
    background-color: #2f2f2f;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 27px;
    padding-top: 14px;
    /*border-color: #393939;
    border-width: 1px;*/
}

.box > div > span {
    padding: 10px;
    color: #c1cfdc;
}

.activeFilter {
    padding: 10px;
}

.box {
    background-color: #2f2f2f;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 27px;
    padding-top: 14px;
    /*border-color: #393939;
    border-width: 1px;*/
}

.box > div > span {
    padding: 10px;
    color: #c1cfdc;
}

#activeFilter {
    color: #e0e4ea;
    border-bottom: #e0e4ea solid;
    text-decoration: none;
}
.filterIcons {
    align-items: center;
    align-self: self-end;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
}

#form {
    margin: auto;
}

.loginButton {
    background-color: #3e3e3e;
    border: 0;
    color: white;
    text-decoration: none;
    width: 50px;
    height: 40px;
    position: relative;
}

#commentDiv > * {
    width: 100%;
    padding: 10px;
}

.commentBox {
    color: white;
    height: 50px;
    width: 100%;
    background-color: #212121;
}

.addCommentButton {
    color: white;
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    background-color: #3e3e3e;
}

.replyForm {
    margin: 0;
    display: none;
}