.loginImage {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.loginPage {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.loginPage > h2 {
    margin-left: auto;
    margin-right: auto;
}

#profile {
    padding-left: 10vw;
    padding-right: 10vw;
    color: #cbcece;
}

.profileRow {
    margin-bottom: 5px;
    background-color: #2c2c2c;
    padding: 10px;
    border: solid 1px #363636;
}

#profilePage {
display: flex;
    flex-direction: column;
}

#profileInfo {
    display: flex;
    justify-content: space-between;
    /*height: 20vh;*/
}

#profileInfo > div > #profilePicture {
    border-radius: 100%;
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    top: -5vw;
    left: 5px;
}

#profileInfo > div {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;*/
}

#profileObjects {
    display: flex;
    margin-bottom: 5px;
    background-color: #2c2c2c;
    border: solid 1px #363636;
}

#profileObjects > a{
    color: #cbcece;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}

#profileObjects > a:hover {
    box-sizing: border-box;
    border-bottom: solid white 2px;
}

#profileButtons {
    display: flex;
    /*flex-direction: column-reverse;*/
    justify-content: flex-end;
}

#profileBackground {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}